.category-item .threadinfo,
.category-item .threadlastpost,
.category-item .threadstats {
	float: left;
	clear: right;
	display: inline-block;
}

.category-item {
	.threadinfo {
	    width: 62%;
	    min-width: 350px;
	    .threaddetails {
			float:right;
			margin-right: 12px;
	    }
	    > small {
		    a, a:hover {
			    color: @exodo-text-color;
			    text-decoration: none;
			}
	    }
    }
	.threadstats {
	    width: 12%;
	    font-size: 12px;
	    text-align: right;
	    padding: 10px 0px;
	    > li {
			margin-right: 20px;
	    }
	}
	
	.threadlastpost {
	    width: 23%;
	    padding: 9.74px 0px 9.74px 2%;
	    display: block;
	    height: 29.52px;
	    font-size: 11px;
	    a.lastpost:hover {
		    text-decoration: none;
	    }
	}
	
	.threadimod {
	    margin-top: 18px;
	    > .select {
			line-height: 0;
			font-size: 16px;
			color: @exodo-lightdark;
	    }
	    > .fa-check-square-o {
			color: @exodo-dark;
	    }
	}
	.threadstatus {
	    background-repeat: no-repeat;
	    background-position: 12px 10px;
	    position: relative;
	    float: left;
	    clear: right;
	    width: 64px;
	    display: block;
	    min-height: 49px;
		height: auto;
	}
}

.threadlisthead {
	width: 100%;
	display: table;
	background: @exodo-gradient;
	border-left: @exodo-primary;
	border-right: @exodo-secondary;
	color: #FFF;
	padding: 14px 5px;
	
	a, a:hover {
		color: #FFF;
		cursor: pointer;
	}
	> span {
		display: block;
		float: left;
		clear: right;
	}
	span.threadinfo {
		width: 62%;
	}
	
	span.threadinfo > .threadtitle {
		padding-left: 12px;
	}
	
	span.threadstats {
		width: 12%;
		text-align: right;
		padding-right: 20px;
	}
	
	span.threadlastpost {
		width: 23%;
		padding: 0 0 0 2%;
	}
}

.category-item .threadstatus { background-image: url("https://exo.do/images/exodo/statusicon/thread_old-30.png"); }
.category-item.unread .threadstatus { background-image: url("https://exo.do/images/exodo/statusicon/thread_new-30.png"); }
.category-item.locked .threadstatus { background-image: url("https://exo.do/images/exodo/statusicon/thread_lock-30.png"); }
.category-item.unread.locked .threadstatus { background-image: url("https://exo.do/images/exodo/statusicon/thread_lock_new-30.png"); }

.category {
	.span9 {
		margin-bottom: 50px;
	}

	.header {
		margin-bottom:20px;
	}

	ul {
		li {
			list-style: none;

			&.deleted {
				-moz-opacity: 0.30;
				opacity: 0.30;
			}
		}

		&:last-child li {
			border-bottom: 0;
		}
	}

	ul {
		padding-left: 0px;
	}

	.meta {
		font-size: 12px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.unread {
		.topic-title {
			font-weight: bold;
		}
	}

	.topic-row {

		border-radius: 0;
		padding: 5px 0;

		small {
			vertical-align: 2px;
			font-size: 12px;
		}

		h3 {
			padding: 0;
			margin: 0;
			margin-top: 10px;
			font-size: 13px;
			line-height: 1.23;
			white-space: nowrap;
			text-overflow:ellipsis;
			overflow: hidden;
			a {
				width:100%;
				display:inline-block;
			}
		}

		.teaser-pic {
			width: 15px;
			height: 15px;
		}

		.user-img {
			width: 25px;
			height: 25px;
			margin-right:10px;
		}
	}

	/*modificado*/
	.title_forum {
		padding: 0;

		h1 {
			padding: 0;
			margin: 10px 0 5px;
			font-size: 21px;
		}
	}

	.no-p {
			padding: 0;
	}

	.new_post_btn {
		background: #2E3539 none;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		font: normal 13px ;
		color: #fff;
		padding: 0px 0px 0px 12px;
		border: 0  ;
		display: block;
		float: right;
		line-height: 32px;
		height: 32px;

		&:hover {
			background: #2E3539 none;
			color: rgb(255, 255, 255);
			text-decoration: none;
			box-shadow: 0 0 0 3px #E4E4E4;
		}

		span {
			padding: 0 10px;
			font:  normal 13px ;
			font-size:16px;
			font-weight:bold;
			display:inline-block;
			background-color: #cf246a;
			height: 32px;
			line-height: 32px;
			font-weight: bold;
			margin-left: 5px;
		}
	}

	.category-tools-button {
		width: 100%;
		display: block;
		background: white;
		border: 1px solid #d4d4d4;
		height: 30px;

		.tool {
			background: none;
			font-size: 11px;
			color: #838383;
			line-height: 30px;
			height: 30px;
			padding: 0;
			margin: 0 7px;
			border: none;
		}
	}



	/*modificado*/

	.latest-post {
		float: right;
		padding-top: 2px;
		margin-right: 0px;
		width: 40%;

		.pull-right {
			width: 100%;
			height: 50px;
			line-height: 16px;
			margin-left: 1px;
			padding: 2px 5px 5px 20px;
			border-left: 1px solid #bbb;

			img {
				display: block;
				float: left;
			}

			p {
				display: block;
				float: left;
				width: 70%;
				margin-left: 10px;
				overflow: hidden;
				max-height: 33px;
				margin-bottom: 0px;
			}
		}
	}
}

.category-item {
	.select {
		line-height: 50px;
		font-size: 20px;
	}
}

h4.category-title {
	width: 100%;
	font-weight: 700;
	line-height: 21px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin: 0;
}

.category-header {
	width: 100%;
	height: 110px;
	text-align: center;
	margin: 0;
	padding-top:25px;
	.pointer;
	margin-bottom: 10px;
	overflow:hidden;

	&:hover {
		filter: brightness(115%);
		-webkit-filter: brightness(115%);
	}

	.category-box {
		height:90px;

		.post-preview {
			padding-left:10px;
			padding-right:10px;
			text-align:left;
			img {
				width:60px;
				height:60px;
				padding-right:5px;
			}

			p {
				overflow: hidden;
				text-overflow:ellipsis;
				height:60px;
			}
		}
	}

}

.category-header-image-auto {
	-webkit-background-size: auto!important;
	-moz-background-size: auto!important;
	-o-background-size: auto!important;
	background-size: auto!important;
	background-position: 0% 0% !important;
}

.category-header-image-cover {
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
	background-position: center!important;
}

.category-header-image-contain {
	-webkit-background-size: contain!important;
	-moz-background-size: contain!important;
	-o-background-size: contain!important;
	background-size: contain!important;
	background-position: center!important;
}

/* modificado */
.pinned {
	.topic-row {
		background: #f6f6f6;
	}
}

.panel {
	border-top: none;
	margin-bottom: 0;
}

.category-tools {
	.breadcrumb {
		background: none;
	}
}
/* modificado */
